N8N Files/Ai Follow up
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "explainer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "cbcfc5af-f643-4e84-a897-02f5c080b920",
      "name": "Webhook",
      "webhookId": "a997bac2-0e4c-4eb2-9c87-d5da6eca0481"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}.{{ $json.body.overallSummary }}",
        "options": {
          "systemMessage": "You are a helpful assistant",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "24c60e79-e211-40c5-a7d1-d2e60c30e6b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "ceeef2bf-b1d3-486f-a78a-683c951a5ea3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        128
      ],
      "id": "7f71b423-5576-47bb-b937-c44f39592267",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mzR5mkTqQFvngGHU",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5794d9c3f5ab707e6c104032a3ffe2749b654a5be46ef5755c0c262f0683e87"
  }
}
